<div class='card-inner'>

  <div class='image' style='background-image: url(http://hughfrancis.me/images/sweetgreen.jpg)'>
    <img class="pixel" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  </div>

  <div class='copy'>
  </div>
</div>

