.nav-item {
  display: block;


  a {
    figure {
      height: 25vh;
      box-sizing: border-box;
      margin: 0;

      .icon {
        width: 25vh;
        height: 25vh;
        display: inline-block;
        background-color: $primary-color;
        transition: $hover-duration all $easing;

        img {
          height: 8vh;
          width: 8vh;
          margin: 8.5vh;  
        }
      }
    }

    &:hover {
      .icon {
        transform: scale(0.9);
      }
    }
  }
  
  @media #{$mobile-only} { 
    display: inline-block;
    float: left;

    a {
      figure {
        height: 25vw;
        .icon {
          width: 25vw;
          height: 25vw;

          img {
            height: 8vw;
            width: 8vw;
            margin: 8.5vw;  
          
          }
        } 
      }
    }

  }
}
