nav.nav-bar {
  opacity: 0.65;
  background-color: $black;
  height: 100vh;
  width: 25vh;
  display: inline-block;
  float: left;
  position: relative;
  transform: translateX(-100%);
  
  @media #{$mobile-only} { 
    width: 100vw;
    height: 25vw;
    bottom: 0;
    position: absolute;
  }

  &.loaded {
    transform: translateX(0%);
  }
  
  &.transition {
    transition: $long-duration all $easing $long-duration*2;
  }
}
