.product-card {
  cursor: pointer;

  @media #{$mobile-only} {
    width: 100%; 
  }

  width: 50%;

  @media #{$desktop-up} {
    width: 33.333%;
  }
  
  display: inline-block;
  float: left;

  &:hover, &.show-details {
    .card-inner {
      background-color: $black;
      .background-image img.pixel {
        opacity: 0.6; 
      } 
      .flag {
        transform: translateX(12px);
        opacity: 1;
      }
      .title {
        transition: $hover-duration opacity $easing $hover-duration/2;
        opacity: 1;
        .text {
          transition: $hover-duration transform $easing $hover-duration/2;
          transform: translateY(0px);
        }
      }
      .details {
        transform: translateX(-12px);
        opacity: 1;
      }
      .copy {
        background-color: $secondary-color;
        .text {
          color: $black; 
        } 
      }
    }
  }

  a {
    text-decoration: none; 
  }

  .card-inner {
    transition: $hover-duration all $easing;
  background-image: radial-gradient(ellipse at 0% bottom, rgba(118,72,160,0.7) 0%,rgba(118,72,160,0) 60%),radial-gradient(ellipse at 90% bottom, $primary-color 0%,rgba(82,63,140,0) 40%);

    .details {
      position: absolute; 
      right: 0;
      bottom: 0px;
      transform: translateX(4px);
      transition: $hover-duration all $easing;
      z-index: 999;
      opacity: 0;

      .text {
        color: $white; 
        font-weight: 100;
        margin-bottom: 12px;
      }
    }

    .title {
      transition: $hover-duration opacity $easing;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 96%;
      margin: 0 2% 0 2%;
      z-index: 999;
      opacity: 0;

      .text {
        transition: $hover-duration transform $easing;
        transform: translateY(-8px);
        margin: 0; 
        font-weight: 700;
        font-size: 44px;
        color: $secondary-color;
        z-index: 999;
        text-shadow: 3px 3px $primary-color;
      }
    }
    
    .flag {
      transition: $hover-duration all $easing;
      position: absolute;
      z-index: 999;
      padding: 4px 6px;   
      top: 12px;
      transform: translateX(-4px);
      background-color: $secondary-color;
      opacity: 0;

      .text {
        margin-bottom: 0px; 
        color: $white;
      }

      &.Product {
        background-color: $primary-color; 
      }
    }

    .background-image {
      transition: $long-duration opacity $easing;
      position: relative;
      width: 100%;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 1;

      .pixel {
        display: block;
        background-color: $primary-color;
        width: 100%; 
        opacity: 0;
        transition: $hover-duration opacity $easing;
      }

      &.loading {
        opacity: 0; 
      }
    }
  }
}
