$primary-color: darkslateblue;

// darkblue darkslateblue indigo mediumdblue midnightblue royalblue navy slateblue
$alt-color: mediumspringgreen;
// mediumspringgreen
$secondary-color: white;

$black: black;

$primary-font: Arial Black, sans-serif;

$break1: 980px;
$break2: 500px;
//30px

$mini-bumper: 10px;
$standard-bumper: 5vh;

$hover-duration: 550ms;
$easing: cubic-bezier(0.4,0,0.2,1);
