$primary-color: #1C144E;
$alt-color: #F9684C;
$secondary-color: #27DD95;
$black: #000;
$white: #fff;

$break1: 980px;
$break2: 500px;

$mini-bumper: 10px;
$standard-bumper: 5vh;

$hover-duration: 250ms;
$long-duration: 1200ms;
$easing: cubic-bezier(0.4,0,0.2,1);

$mobile-only: "(max-width: 800px)";
$desktop-up: "(min-width: 1280px)";
