#about {

  .about-intro {
    position: relative;

    .paragraph {
      @media #{$tablet-up} {
        width: 50%;
        max-width: 840px;
      }
      color: $white;
      font-size: 1.5rem;
      line-height: 1.5em;
      letter-spacing: .02em;
    }

    .cta-container {
      margin-top: 3rem;

      @media #{$desktop-up} {
        position: absolute;
        right: 15%;
        bottom: 0;
      }

      h3 {
        color: $white;
        line-height: 0;
        letter-spacing: .02em;
      }
    }
  }

  .mailto-link {
    color: $secondary-color;
    border-bottom: solid 3px $secondary-color;
    margin: 0;
    transition: $hover-duration $easing;

    &.small {
      width: 312px;
    }

    &.large {
      width: 312px;
      @media #{$tablet-up} {
        width: 420px;
        font-size: 2rem;
      }
    }

    &:hover {
      opacity: .9;
    }
  }

  .image-grid {
    position: relative;
    margin-top: 350px;

    .map {
      position: absolute;
      width: 100%;
      max-width: 600px;
      z-index: 1;
      top: -10%;
      right: 0;
    }

    .flex-column-1 {
      .sixteen-nine {
        @include aspect-ratio(16, 9);

        &.image-1 {
          width: 100%;
          margin-top: 50px;
          margin-right: 20px;
        }
        &.image-3 {
          width: 80%;
          margin-top: 80px;
          margin-left: 30px;
        }
        &.image-4 {
          width: 90%;
          margin-top: 40px;
          margin-right: 80px;
        }
        &.image-5 {
          width: 100%;
          margin-top: 30px;
          margin-left: 20px;
        }
      }
    }

    .flex-column-2 {
      .address-overlay {
        width: 100%;
        position: relative;

        .address {
          position: absolute;
          right: 0;
          bottom: -5%;
          z-index: 1;
        }

        .four-four {
          @include aspect-ratio(4, 4);
          
          &.image-2 {
            width: 90%;
            margin-left: 20px;
            margin-top: 30px;
          }
        }
      }

      .sixteen-nine {
        @include aspect-ratio(16, 9);
        
        &.image-6 {
          width: 80%;
          margin-top: 40px;
          margin-right: -10px;
        }

        &.image-7 {
          width: 70%;
          margin-top: 20px;
        }
      }
    }



    @media #{$desktop-up} {
      margin-top: 20%;
      display: flex;
      position: relative;

      .map {
        position: absolute;
        width: 100%;
        max-width: 600px;
        z-index: 1;
        top: -10%;
        right: 0;
      }

      .flex-column-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;

        .sixteen-nine {
          @include aspect-ratio(16, 9);

          &.image-1 {
            width: 60%;
            margin-top: 50px;
            margin-right: 20px;
          }
          &.image-3 {
            width: 55%;
            margin-top: 80px;
            margin-right: 30px;
          }
          &.image-4 {
            width: 80%;
            margin-top: 40px;
            margin-right: 80px;
          }
          &.image-5 {
            width: 40%;
            margin-top: 30px;
            margin-right: 60px;
          }
        }
      }

      .flex-column-2 {
        display: flex;
        flex-direction: column;
        width: 50%;

        .address-overlay {
          width: 100%;
          position: relative;

          .address {
            position: absolute;
            right: 0;
            bottom: -5%;
            z-index: 1;
          }


          .four-four {
            @include aspect-ratio(4, 4);
            
            &.image-2 {
              width: 90%;
            }
          }
        }

        .sixteen-nine {
          @include aspect-ratio(16, 9);
          
          &.image-6 {
            width: 60%;
            margin-top: 40px;
            margin-left: -30px;
          }

          &.image-7 {
            width: 70%;
            margin-top: 20px;
          }
        }
      }
    }
  }

  .contact-block {
    padding: 350px 0 175px 0;
    text-align: center;

    .mailto-link {
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .social-links {
      img {
        padding: 0 10px;
        width: 25px;

        &.twitter {
          width: 30px;
        }
        @media #{$tablet-up} {
          width: 35px;

          &.twitter {
            width: 40px;
          }
        }
      }
    }
  }
}
