#home {
  .desc-line {
    position: absolute;
    bottom: 40px;
    padding-left: 40px;

    .copy {
      color: $white; 
      font-weight: 100;
      margin-bottom: 0px;
      letter-spacing: 1px;
    }
  }
}
