#home {
  .desc-line {
    position: absolute;
    bottom: 40px;
      
    @media #{$mobile-only} {
      position: relative;
      .copy {
        font-size: 18px; 
      }
    }
      
    .copy {
      color: $white; 
      font-weight: 100;
      margin-bottom: 0px;
      letter-spacing: 1px;

    }
  }
}
