#products {

  .medium-up {
    display: block; 
    @media #{$mobile-only} {
      display: none; 
    }  
  }
  
  .small-only {
    display: none; 
    @media #{$mobile-only} {
      display: block; 
    }  
  }
}
