<div class='top-route' id='about'>

  <div class="about-intro">
    <p class="paragraph">Sanctuary Computer is an artful user interface studio, based on the Bowery in NYC.  We work with established companies, city entities and startups to build compelling and empathetic digital products in the art, music & social infrastructure spaces.</p>
    <p class="paragraph">Our small team all hail from art and music backgrounds, and work closely with notable New York design teams like Gin Lane, PlayLab, Labour NY and Human NYC.  Some recent clients include Dig Inn, Herman Miller and Dame Products.</p>
    <p class="paragraph">Our technology stack includes <b>React, React Native, Ember, Ruby, Rails, Phoenix, Elixir, Sass, Aframe, Greensock, Heroku,</b> among others</p>

    <div class="cta-container">
      <h3>Let's work together</h3>
      <a href='mailto:hello@sanctuary.computer?Subject=Let%27s%20work%20together%21' target='_blank'>
        <h2 class="mailto-link small">hello@sanctuary.computer</h2>
      </a>
    </div>
  </div>

</div>
