<header class="top">Sanctuary Computer Inc</header>
<nav>
  {{#link-to 'about'}}
    <figure>
      <div class='icon'>
        <img src='/images/stack.svg' />
      </div>
      <div class='heading'><h1>About</h1></div>
    </figure>
  {{/link-to}}
  {{#link-to 'home'}}
    <figure>
      <div class='icon'>
        <img src='/images/battery.svg' />
      </div>
      <div class='heading'><h1>Clients</h1></div>
    </figure>
  {{/link-to}}
  <figure></figure>
  <figure></figure>
</nav>
<section>
  {{outlet}}
  <button class="contact-us-button" {{action 'toggleContactUs'}}>{{if showContactPanel 'Close' 'Contact Us'}}</button>
  {{contact-us active=showContactPanel}}
</section>
