<div class='top-route' id='products'>

  <a-scene>
    <a-box color="#6173F4" width="4" height="10" depth="2"></a-box>
  </a-scene>

  <!--
  {{#each model.products as |product|}}
    {{product-card product=product}}
  {{/each}}
  -->
</div>
